<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Report</title>
</head>
<body>
    <h2> Job Report </h2>
    <p>{{jobCounts}}개의 {{searchingBy}} 관련 직업을 찾았습니다.</p>
    {% for job in jobs %}
        <span>{{job.title}}</span>
        <span>{{job.company}}</span>
        <span>{{job.location}}</span>
        <span>{{job.link}}</span>
    {%endfor%}

</body>
</html>